.format-moodlemoot .notenrolled {
    padding: 1rem;
    border: 1px dashed #c4c4c4;
    margin: 1rem 0;
    text-align: center;
}

.format-moodlemoot .coursecontent .mform,
.format-moodlemoot .sidecontent .mform {
    margin-bottom: 1rem;
}

.format-moodlemoot .coursecontent .mform:last-of-type,
.format-moodlemoot .sidecontent .mform:last-of-type {
    margin-bottom: 0;
}

.format-moodlemoot .courseheader.introductionpage img {
    width: 100%;
}

.format-moodlemoot .activity.notavailable {
    color: #495057;
}

.format-moodlemoot .activity.notavailable p {
    margin-bottom: 0;
}

.format-moodlemoot .activity.notavailable .availableinfo {
    font-size: 80%;
    font-weight: 400;
    padding-left: 2rem;
}

.format-moodlemoot .activity.notavailable .availableinfo ul {
    padding-left: 2rem;
}

.format-moodlemoot .course-content ul.section {
    padding: 0;
}