<div class="row m-t-1 mx-0 p-b-1">
    <div class="col-md-8 coursecontent">
        {{{ course.summary }}}

        {{{ sections }}}

        {{^isenrolled}}
            {{> format_moodlemoot/enrolment_buttons }}

            <div class="notenrolled">{{#str}}restrictcontentmsg, format_moodlemoot{{/str}}</div>
        {{/isenrolled}}
    </div>

    <div class="col-md-4 sidecontent">
        {{^isenrolled}}
            {{> format_moodlemoot/enrolment_buttons }}
        {{/isenrolled}}

        {{#date}}
            <h5 {{^isenrolled}}class="m-t-1"{{/isenrolled}}>{{#str}}date, format_moodlemoot{{/str}}</h5>
            <h6>{{{ date }}}</h6>
        {{/date}}

        {{#enrollperiod}}
            <h5 class="m-t-1">{{#str}}enrollperiod, format_moodlemoot{{/str}}</h5>
            <h6>{{{ enrollperiod }}}</h6>
        {{/enrollperiod}}

        {{#place}}
            <h5 class="m-t-1">{{#str}}place, format_moodlemoot{{/str}}</h5>
            <h6>{{{ place }}}</h6>
        {{/place}}

        {{#placemapurl}}
            <a target="_blank" href="{{{ placemapurl }}}" class="btn btn-outline-primary btn-lg btn-block">{{#str}}seemap, format_moodlemoot{{/str}}</a>
        {{/placemapurl}}
    </div>
</div>