<div class="row m-t-1 mx-0 p-b-1">
    <div class="col-md-9 coursecontent">
        {{{ course.summary }}}

        {{> format_moodlemoot/sections }}

        {{^isenrolled}}
            <div class="notenrolled">{{#str}}restrictcontentmsg, format_moodlemoot{{/str}}</div>

            {{> format_moodlemoot/enrol_button }}
        {{/isenrolled}}
    </div>

    <div class="col-md-3 sidecontent">
        {{^isenrolled}}
            {{> format_moodlemoot/enrol_button }}

            <p class="m-t-1"><span class="btn btn-lg btn-block btn-success">{{{ price }}}</span></p>
        {{/isenrolled}}

        <h5 {{^isenrolled}}class="m-t-1"{{/isenrolled}}>{{#str}}date, format_moodlemoot{{/str}}</h5>
        <h6>{{{ date }}}</h6>

        <h5 class="m-t-1">{{#str}}enrollperiod, format_moodlemoot{{/str}}</h5>
        <h6>{{{ enrollperiod }}}</h6>

        <h5 class="m-t-1">{{#str}}place, format_moodlemoot{{/str}}</h5>
        <h6>{{{ place }}}</h6>

        <a target="_blank" href="{{{ placemapurl }}}" class="btn btn-outline-primary btn-lg btn-block">{{#str}}seemap, format_moodlemoot{{/str}}</a>
    </div>
</div>