{{#enrolmentinstances}}
    {{#hasenroldata}}
        {{#enrolinstances}}
            {{#id}}
                {{#cost}}
                    <form autocomplete="off" action="{{{ config.wwwroot }}}/enrol/pagseguro/process.php" method="post" accept-charset="utf-8" class="mform">
                        <div class="d-none">
                            <input name="courseid" type="hidden" value="{{{ courseid }}}">
                            <input name="instanceid" type="hidden" value=" {{{ id }}}">
                            <input name="cost" type="hidden" value="{{{ cost }}}">
                            <input name="usersubmitted" type="hidden" value="1">
                            <input name="sesskey" type="hidden" value="{{{ config.sesskey }}}">
                            <input name="_qf__enrol_{{{ enrol }}}_enrol_form" type="hidden" value="1">
                        </div>

                        <input type="submit" class="btn {{{ class }}} btn-lg btn-block" name="submitbutton" id="id_submitbutton" value="{{{ name }}}">
                    </form>
                {{/cost}}
                {{^cost}}
                    <form autocomplete="off" action="{{{ config.wwwroot }}}/enrol/index.php" method="post" accept-charset="utf-8" class="mform">
                        <div class="d-none">
                            <input name="id" type="hidden" value="{{{ courseid }}}">
                            <input name="instance" type="hidden" value="{{{ id }}}">
                            <input name="sesskey" type="hidden" value="{{{ config.sesskey }}}">
                            <input name="_qf__{{{ id }}}_enrol_{{{ enrol }}}_enrol_form" type="hidden" value="1">
                        </div>

                        <button type="submit" class="btn {{{ class }}} btn-lg btn-block" name="submitbutton" id="id_submitbutton">{{{ name }}}</button>
                    </form>
                {{/cost}}
            {{/id}}
            {{^id}}
                <a class="btn btn-block btn-default" href="#">{{{ name }}}</a>
            {{/id}}
        {{/enrolinstances}}
    {{/hasenroldata}}
    {{^hasenroldata}}
        <a href="#" class="btn btn-default btn-lg btn-block">{{{ name }}}</a>
    {{/hasenroldata}}
{{/enrolmentinstances}}