<div class="courseheader introductionpage p-5"
     style="background: url({{{ courseheader }}});
             min-height: 420px;
             background-size: cover;
             background-repeat: no-repeat;
             width: 100%;">

    {{> format_moodlemoot/settingsmenu }}
</div>