{{#sections}}
    {{#available}}
        <h4>{{{ name }}}</h4>

        <ul class="section">
            {{#activities}}
                <li class="activity {{{ modtype }}} modtype_{{{ modtype }}}">
                    {{#available}}
                        {{#url}}
                            <a href="{{{ url }}}" {{#active}}class="active"{{/active}} {{#availableinfo}}data-toggle="tooltip" data-html="true" data-placement="right" title="{{{ availableinfo }}}"{{/availableinfo}}>
                                {{#completed}}<i class="fa fa-check-circle completed"></i>{{/completed}}
                                {{^completed}}<i class="fa fa-circle"></i>{{/completed}}
                                <span>{{{ name }}}</span>
                            </a>
                        {{/url}}
                        {{^url}}
                            <h5 class="mb-0">{{{ name }}}</h5>
                        {{/url}}
                    {{/available}}
                    {{^available}}
                        <div class="activity notavailable">
                            <p><i class="fa fa-circle icon"></i><span>{{{ name }}}</span> <span class="small">({{#str}}unavailable, format_moodlemoot{{/str}})</span></p>
                            <div class="availableinfo">{{{ availableinfo }}}</div>
                        </div>
                    {{/available}}
                </li>
            {{/activities}}
        </ul>
    {{/available}}
    {{^available}}
        <h3 class="notavailable" id="heading-{{{ id }}}" {{#availableinfo}}data-toggle="tooltip" data-html="true" data-placement="right" title="{{{ availableinfo }}}"{{/availableinfo}}>{{{ name }}} <span class="small">({{#str}}unavailable, theme_olm{{/str}})</span></h3>
    {{/available}}
{{/sections}}